.body {
    margin: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.avatar {
    width: 150px;
}
h4:hover {
    text-shadow: 2px 2px 5px blueviolet;
    background-color: rgb(255, 106, 0);
}


.card {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    background: #ddebf8;
    color: #0077b6;
    border-bottom: 6px solid #d8cefe;

}

.border-blue {
    border: 1px dotted blue;
    
}

